.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.full-img-bg {
    width: 100%;
    background-image: url("https://source.unsplash.com/1lfI7wkGWZ4/1920x1080");
    color: #ffffff;
    padding: 80px 0;
}

.required::after{
    content: ' *';
    color: red;
}

footer {
    color: white;
}

footer a {
    color: #bfffff;
}

footer a:hover {
    color: white;
}

.footer-bottom {
    background: #3d6277;
    padding: 2em;
}

.footer-top {
    background: #2d4958;
}

.footer-middle {
    background: #3d6277;
    padding-top: 2em;
    color: white;
}